<dialog id="delete-modal" class="modal">
<div class="modal-box">
<h3 class="font-bold text-lg">Are you sure?</h3>
<p class="py-4">All invoices related to the customer will be deleted</p>
<div class="modal-action">
<form id='delete-form' method="post"><button class="btn btn-danger">Yes</button></form>
<form method="dialog"><button class="btn">Cancel</button></form>
</div>
</div>
</dialog>